@use "../../style/variables" as var;
@use "../../style/mixins.scss" as mixin;

.form {
  text-align: center;
  max-width: 30rem;
  padding: 2rem 1rem;

  &__warning {
    color: var.$red;
    margin: 1rem;
    font-size: 0.9125rem;
    letter-spacing: 0.5px;
    padding: 0.5rem 2rem;
    border-radius: 8px;
    background-color: var.$background-weak;
  }

  &__introduction {
    &__title {
      color: var.$blue-light-gray;
      margin-bottom: 0.25rem;

      &__accent {
        color: var.$blue-emphasis;
      }
    }

    &__paragraph {
      color: var.$blue-gray;
    }
  }

  &__classes {
    &__title {
      color: var.$blue-light-gray;
      border-top: 1px solid var.$divider-color;
      padding-top: 1rem;
      font-weight: 600;
      letter-spacing: 0.25px;
      font-size: 1.25rem;
      padding-bottom: 0.5rem;
    }

    &__subtitle {
      &__container {
        border-bottom: 1px solid var.$divider-color;
        padding: 0.5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }

      color: var.$blue-light-gray;
      font-weight: 500;
      letter-spacing: 1px;
    }

    &__switcher {
      position: absolute;
      right: 0;
    }

    &__classListItem {
      display: flex;
      gap: 14px;
      border-right: 1px solid var.$divider-color;
      align-items: center;
      cursor: pointer;

      &:hover {
        opacity: 0.85;
        border-right: 1px solid var.$emphasis-divider-color;
      }

      &__title {
        color: var.$blue-gray;
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;

        &--selected {
          color: var.$blue-light-gray;
        }
      }

      &__subtitle {
        color: var.$blue-weak-emphasis;
        font-size: 10px;
        line-height: 12px;
        font-weight: 500;
      }

      &__content {
        display: grid;
        text-align: left;
        gap: 2px;
      }

      &--selected {
        border-right: 1px solid var.$blue-gray;
      }
    }

    &__tag {
      &__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        padding: 1rem 0;

        &--detailed {
          padding: 16px;
          gap: 14px;
          flex-direction: column;
        }
      }

      min-width: 72px;
      font-size: 0.85rem;
      user-select: none;
      background-color: var.$blue-darker;
      color: var.$blue-light-gray;
      padding: 0.5rem 0.75rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      box-shadow: 0 0 5px -1px black;
      letter-spacing: 1px;
      font-weight: 400;
      cursor: pointer;
      transition: background-color 0.1s ease, color 0.1s ease, font-weight 0.1s ease;

      &--selected {
        color: var.$blue-darker;
        font-weight: 600;
        background-color: var.$blue-light-gray;
      }
    }
  }

  &__submit {
    position: fixed;
    width: 100%;
    cursor: pointer;
    right: 0;
    left: 0;
    bottom: -4.3rem;
    transition: bottom 0.1s ease;
    display: grid;
    grid-template-columns: 1fr 2fr;

    &__button {
      min-height: 41px;
      cursor: pointer;
      border: none;
      padding: 1rem;
      letter-spacing: 2px;
    }

    &__preview {
      font-size: 12px;
      font-weight: 700;
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: center;
      background-color: var.$blue-dark;
      color: var.$blue-light-gray;
      text-transform: uppercase;
    }

    &__generate {
      font-weight: 700;
      font-size: 14px;
      color: var.$blue-light-gray;
      background-color: var.$blue;
      text-transform: uppercase;
    }

    &--active {
      bottom: 0;
    }
  }
}
